<!DOCTYPE html>
<html>
  <head>
    <title>PipefyRecruitmentExercise</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container">
    	<%= yield %>
    </div>
  <div class="footer">
    <div class="container text-right text-muted  well well-sm">
      <div>
        <strong>Teste realizado por:</strong> 
          João Maciel Neves Sampaio - joaomaciel.n@gmail.com
        <div>
        <div>
          <a href="https://github.com/jonmaciel/pipefy_recruitment_exercise">Clique aqui visualizar código e fonte atravéz do GitHub</a>
        <div>
    </div>
  </div>
  </body>
</html>
